//tasks/view.scss
.task-view .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f6f2;
    background: url(/bg.jpg) center center no-repeat;
    background-size: cover;
    z-index: 0;
}

.task-view .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f6f2;
    background-image: linear-gradient( 180deg, #FFFFFF, 72%, #e0c79f);
    z-index: 1;
    opacity: 0.9;
}

.task-view .foreground {
    position: relative;
    z-index: 10;
}

.task-view .nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    width: calc(100% - 64px);
    padding: 32px;
    max-width: var(--max-width);
    margin: auto;
}

.task-view .nav a {
    text-decoration: none;
}

.task-view .nav .left {
    display: inline-block;
    text-align: left;
}

.task-view .nav .right {
    float: right;
    text-align: right;
}

.task-view .nav .left .logo {
    margin: 1px;
    font-size: 24pt;
    font-weight: 900;
    color: #ffa500;
}

.task-view .nav .left .logo:hover {
    animation: bloop 1s linear;
}

.task-view .nav .right .cta {
    float: right;
    padding: 12px 24px;
    background: #ffa500;
    font-size: 10pt;
    font-weight: 800;
    color: #FFFFFF;
    border-radius: 10px;
}

.task-view .nav .right .sub-cta {
    float: right;
    padding: 12px 24px;
    font-size: 10pt;
    font-weight: 800;
    color: #ffa500;
}

.task-view .section {
    max-width: var(--max-width);
    margin: auto;
}

.task-view .tasks .header {
    margin: 24px 16px;
    font-weight: 900;
    font-size: 18pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-view .tasks-container {
    display: flex;
    flex-wrap: wrap;
}

.task-view .tasks-container a {
    display: inline-block;
    color: unset;
}

.task-view .task-card {
    text-align: center;
    display: inline-block;
    margin: 12px;
    padding: 32px 32px 24px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 1px 3px 6px #ccc;
    border: 1px solid #eee;
    width: calc(100% - 88px);
    box-sizing: content-box;
}

.task-view .task-card .due_date {
    margin: auto;
    text-align: left;
    color: black;
    font-size: 10pt;
}

.task-view .task-card .title {
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
    margin: 22px auto 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-view .task-card .description {
    font-size: 12pt;
    margin: 12px auto;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 180%;
}

.task-view .actions {
    text-align: center;
    margin: 42px auto 72px;
}

.task-view .actions .cta {
    margin: auto;
    padding: 16px 42px;
    display: inline-block;
    background: #ffa500;
    font-size: 10pt;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 48px 0 #e6dbca, 3px 3px 4px 0 #e6dbca;
}

.task-view .actions .escape {
    font-size: 11pt;
    color: #ffa500;
    font-weight: bold;
    display: block;
    width: fit-content;
    margin: 32px auto;
    text-align: center;
}