.password {
    position: relative;
    height: calc(100vh - 24px);
    width: calc(100% - 24px);
    max-width: 550px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.password .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f6f2;
    background: url(/bg.jpg) center center no-repeat;
    background-size: cover;
    z-index: 0;
}

.password .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f6f2;
    background-image: linear-gradient( 180deg, #FFFFFF, 72%, #e0c79f);
    z-index: 1;
    opacity: 0.9;
}

.password .foreground {
    position: relative;
    z-index: 10;
}

.password .icon {
    margin: 32px auto;
    font-size: 18pt;
    font-weight: 900;
}

.password .icon:hover {
    cursor: pointer;
    opacity: 1;
    animation: bloop 1s linear;
}

.password .prompt {
    margin: 24px 0;
    font-size: 18pt;
    font-weight: 800;
}

.password .form {
    width: calc(100% - 24px);
    margin: 12px;
    text-align: left;
}

.password .field {
    width: calc(100% - 20px);
    margin: 16px 0;
    padding: 5px 10px;
    cursor: text;
    background: #F8F8F8;
    text-align: left;
    border-radius: 3px;
    border-bottom: 3px solid #DCDCDC;
}

.password label {
    margin-bottom: 5px;
    cursor: text;
    font-size: 10pt;
}

.password .field input {
    width: 100%;
    background: none;
    font-size: 14pt;
    border: none;
}

.password .field input:focus {
    outline: none;
}

.password .field.focus {
    background: #FFF3E6;
    color: #ffa500;
    border-bottom: 3px solid #ffa500;
}

.password .actions input {
    width: 100%;
    margin: 8px auto 16px;
    padding: 15px;
    background: #ffa500;
    font-weight: 800;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
}

.password .escape {
    font-size: 11pt;
    color: #ffa500;
    font-weight: bold;
    display: block;
    width: fit-content;
    margin: 16px auto 8px;
}

.password .escape:hover {
    opacity: 1;
    text-decoration: underline;
}

.password .confirmation {
    position: absolute;
    bottom: 0;
    width: calc(100% - 48px);
    margin: 0 12px 24px;
    opacity: 0.8;
    font-size: 7pt;
    text-align: left;
}