//NOTICE FLOAT
.notice-float {
    position: fixed;
    bottom: 24px;
    left: 36px;
    z-index: 100;
    width: calc(100% - 104px);
    padding: 16px;
    background: #ffffff;
    font-size: 10pt;
    font-weight: bold;
    color: #ffa500;
    text-align: center;
    text-transform: capitalize;
    border-radius: 24px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 666px) {
    .notice-float {
        left: 50%;
        width: 420px;
        margin-left: -222px;
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    }
}