.omniauth {
    margin: 42px auto;
    padding: 0 10px 124px;
}

.omniauth .header {
    position: relative;
    margin: 42px auto;
    font-weight: bold;
    font-size: 10pt;
    max-width: 420px;
}

.omniauth .header span {
    background: #ffffff;
    padding: 10px 16px;
    border-radius: 24px;
    color: #ffa500;
    position: relative;
}

.omniauth .header::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffa500;
    opacity: 0.42;
    border-radius: 10px;
}

.omniauth a {
    display: block;
    margin: 12px auto;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 16px 0;
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
    color: white;
    background: #ffa500;
    font-size: 10pt;
}

.omniauth a#facebook {
    background: #3B5998;
}

.omniauth a#google {
    background: #4C8BF5;
}

.omniauth a#twitter {
    background: #00acee;
}

.omniauth a#github {
    background: #333333;
}

.omniauth a i {
    margin-right: 5px;
}