@media screen and (min-width: 1000px) {
     :root {
        --max-width: 724px;
    }
}

@media screen and (max-width: 1000px) {
    .index #hero .logo .emoji {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .index #hero .logo {
        font-size: 32pt;
    }
    .index #hero .tagline {
        font-size: 14pt;
    }
    .index #hero .cta,
    .index #hero .sub-cta {
        font-size: 10pt;
    }
}

@media screen and (min-width: 500px) {
    .dashboard .section,
    .task-view .section,
    .category-view .section,
    .today .section {
        padding: 0 24px;
    }
}

@media screen and (max-width: 420px) {
    .nav .right .sub-cta {
        display: none;
    }
    .index #hero .logo {
        display: none;
    }
    .index #hero .mobile-logo {
        display: block;
    }
    .index #hero .sub-cta {
        display: block;
        margin: 32px auto;
    }
    .dashboard .categories .categories-container {
        justify-content: center;
    }
    .dashboard .categories .category-card,
    .dashboard .categories .category-add {
        margin: 12px;
    }
    .category-view .tasks-container,
    .today .tasks-container {
        justify-content: center;
    }
    .category-view .tasks .task-card,
    .today .tasks .task-card {
        margin: 12px;
    }
}

@media screen and (max-width: 375px) {
    .dashboard .categories .header {
        margin: 12px 24px;
    }
    .dashboard .categories .category-card,
    .dashboard .categories .category-add {
        max-width: unset;
    }
    .category-view .tasks .header,
    .today .tasks .header {
        margin: 12px 24px;
    }
    .category-view .tasks .task-card,
    .today .tasks .task-card {
        max-width: unset;
    }
    .category-view .task-card,
    .today .task-card {
        width: calc(100% - 128px);
    }
}

@media screen and (max-width: 320px) {
    .index .section {
        padding: 24px;
    }
}